.basic {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 305px;
}

.basic__slogan {
  margin: 0;
  padding: 0;

  @include font(14, 1);
  color: $dark-3;
  text-align: center;
  text-transform: uppercase;
}

.basic__image {
  margin: 0 auto;
}

@media (max-width: $screen-tablet) { // <- 768
  .basic {
    height: 480px;
    background-image: $top-gradient;
  }

  .basic__title {
    padding: 10px 0;
    padding-bottom: 20px;
    line-height: 1;
    color: #ffffff;
  }

  .basic__slogan {
    color: #ffffff;
  }
}

@media (min-width: $screen-tablet) { // 320 -> 768
  .basic {
    height: 700px;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .basic__title {
    align-self: flex-start;
    width: 450px;
  }

  .basic__button {
    order: 1;
    width: 245px;
  }

  .basic__image {
    order: 2;
  }
}

@media (min-width: $screen-desktop) { // 1200 ->
  .basic {
    position: absolute;
    width: 100%;
    height: 550px;
  }
}
