.button {
  display: inline-block;
  width: 100%;
  padding: 11px;
  font: inherit;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  background-color: $green-2;
  border: none;

  &:hover {
    background-color: $green-3;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }

  &--grey {
    color: $dark-1;
    background-color: $grey-1;

    &:hover {
      background-color: #ebebeb;
    }

    &:active {
      color: rgba(68, 68, 68, 0.3);
    }
  }
}

@media (min-width: $screen-tablet) {
  .button {
    padding: 8px 27px;
  }
}
