.catalog {
  @media (min-width: $screen-tablet) {
    padding: 0 $padding-tablet;
  }

  @media (min-width: $screen-desktop) {
    padding: 0 $padding-desktop;
    max-width: 1300px;
    margin: 0 auto;
  }
}

.catalog__title {
  padding-top: 16px;
  padding-bottom: 27px;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 1px solid $grey-2;

  @media (min-width: $screen-tablet) {
    padding-top: 55px;
    padding-left: 0;
    padding-right: 0;
    border-bottom: none;
  }

  @media (min-width: $screen-desktop) {
    padding-top: 70px;
  }
}

.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $screen-tablet) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.catalog__product {
  margin: 0;
  padding-top: 23px;
  padding-bottom: 11px;
  padding-left: 0;
  padding-right: 0;
  width: 60%;

  @include font(16, 1.25);
  color: $dark-3;
  text-transform: uppercase;

  @media (min-width: $screen-tablet) {
    width: auto;
    max-width: 150px;
    padding: 0;
    margin: 0 auto;
    margin-bottom: 20px;

    @include font (20, 1);
  }
}

.catalog__item {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding-top: 0;
  padding-bottom: 24px;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 1px solid $grey-2;

  &:last-child .catalog__product {
    padding: 0;
    margin-bottom: 5px;
    width: 100%;
    text-align: center;

    @media (min-width: $screen-tablet) {
      max-width: 155px;
    }
  }

  &:last-child .catalog__cell {
    width: 100%;
    text-align: center;
    margin-bottom: 23px;

    @media (min-width: $screen-tablet) {
      max-width: 170px;
      padding: 22px 0;
      margin: 0 auto;
      margin-bottom: 60px;
    }
  }

  &:last-child::before {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    margin-top: 26px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;

    @include b-image ("icon-plus-mobile.svg");

    @media (min-width: $screen-tablet) {
      width: 60px;
      height: 60px;
      margin-top: 55px;
      margin-bottom: 55px;
    }
  }

  @media (min-width: $screen-tablet) {
    display: block;
    width: 324px;
    padding-left: 40px;
    padding-right: 37px;
    padding-bottom: 40px;
    text-align: center;
    background-image: linear-gradient(to bottom, transparent 0%, transparent 25%, $grey-1 25%, $grey-1 100%);

    &:last-of-type {
      align-self: flex-end;
      background: transparent;
      border: 1px solid $grey-2;
    }
  }

  @media (min-width: $screen-desktop) {
    width: 245px;
    text-align: center;
    background-image: linear-gradient(to bottom, transparent 0%, transparent 24%, $grey-1 24%, $grey-1 100%);
  }
}

.catalog__item img {
  vertical-align: middle;
}

.catalog__info {
  width: 50%;

  @media (min-width: $screen-tablet) {
    width: auto;
  }
}

.catalog__table {
  width: 100%;
  border-collapse: collapse;

  @media (min-width: $screen-tablet) {
    width: 100%;
    margin-bottom: 35px;
  }
}

.catalog__row {
  margin-left: auto;

  @media (min-width: $screen-tablet) {
    border-bottom: 1px solid $grey-4;
  }
}

.catalog__cell {
  margin: 0;
  padding: 0;

  @include font(12, 1.33);
  font-family: "Arial", sans-serif;

  &:nth-child(2n) {
    text-align: right;
  }

  @media (min-width: $screen-tablet) {
    padding: 7px 0;
    text-align: left;

    @include font (16, 1);
  }
}

.catalog__text {
  display: inline-block;
  padding-bottom: 15px;

  @include font(14, 1);
  font-family: "Arial", sans-serif;
}

.catalog__additional {
  margin: 0;
  padding: 25px 0;
}

.catalog__image {
  @media (min-width: $screen-tablet) {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 265px;
    margin: 0 -40px 40px;
  }

  img {
    width: 140px;
    height: 144px;

    @media (min-width: $screen-tablet) {
      width: 324px;
      height: auto;
      flex-shrink: 0;
    }
  }
}
