.contacts {
  display: flex;
  padding-top: 27px;
  padding-bottom: 25px;

  &--grey {
    background-color: $grey-1;
  }

  @media (min-width: $screen-tablet) {
    padding-top: 65px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
  }

  @media (min-width: $screen-desktop) {
    position: absolute;
    top: 99px;
    z-index: 2;
    width: 570px;
    height: 201px;
    background-color: #ffffff;
    padding-left: 75px;
    padding-right: 79px;
    padding-top: 63px;
  }
}

.contacts__title {
  width: 125px;
  padding: 0;
  margin: 0;
  margin-right: 15px;

  @include font(16, 1.25);
  color: $dark-3;
  text-transform: uppercase;

  @media (min-width: $screen-tablet) {
    width: 200px;
    font-size: 20px;
  }
}

.contacts__text {
  width: 138px;
  padding: 0;
  margin: 0;
  line-height: 1.43;
  font-family: "Arial", sans-serif;

  @media (min-width: $screen-tablet) {
    display: block;
    width: 165px;
    margin-left: auto;

    @include font (16, 1.25);
    text-align: right;
  }

  @media (min-width: $screen-desktop) {
    text-align: left;
  }
}

.contacts__city {
  @media (min-width: $screen-tablet) {
    line-height: 55px;
  }
}
