.contacts {
  display: flex;
  padding-top: 27px;
  padding-bottom: 25px;

  &--grey {
    background-color: $grey-1;
  }
}

.contacts__title {
  width: 125px;
  padding: 0;
  margin: 0;
  margin-right: 15px;

  @include font(16, 1.25);
  color: $dark-3;
  text-transform: uppercase;
  letter-spacing: -0.4px;
}

.contacts__text {
  width: 135px;
  padding: 0;
  margin: 0;
  line-height: 1.43;
  font-family: "Arial", sans-serif;
}

@media (min-width: $screen-tablet) {
  .contacts {
    padding-top: 65px;
    padding-bottom: 40px;
    padding-left: 72px;
    padding-right: 72px;
  }

  .contacts__title {
    width: 200px;
    font-size: 20px;
  }

  .contacts__text {
    display: block;
    width: 165px;
    margin-left: auto;

    @include font (16, 1.25);
    text-align: right;
  }

  .contacts__city {
    line-height: 55px;
  }
}

@media (min-width: $screen-desktop) {
  .contacts {
    position: absolute;
    z-index: 1;
    width: 570px;
    height: 201px;
    background-color: #ffffff;
  }
}
