.count__title {
  @include font(24, 1);
  color: $dark-3;
  text-transform: uppercase;

  @media (min-width: $screen-tablet) {
    @include font (30, 37px);
  }
}

.count__subtext {
  position: absolute;
  top: 47px;
  left: 16px;
  width: 90px;
  padding: 0 10px;

  @include font(12, 1);
  font-family: "Arial", sans-serif;
  background-color: $grey-1;

  @media (min-width: $screen-tablet) {
    top: 61px;
    left: 14px;
    width: 140px;
    padding: 0 5px;

    @include font (14, 1);
    background-color: #ffffff;
  }

  @media (min-width: $screen-desktop) {
    background-color: $grey-1;
  }
}

.count__wrapper {
  position: relative;
  width: 123px;
  margin-bottom: 34px;
  padding: 15px 10px;
  text-align: center;
  border: 1px solid $grey-4;

  @media (min-width: $screen-tablet) {
    width: 161px;
    margin-bottom: 0;
    margin-right: 45px;
  }
}
