.footer {
  background-color: $grey-1;
}

.footer__wrapper {
  padding-left: $padding-mobile;
  padding-right: $padding-mobile;

  @media (min-width: $screen-tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 55px;
    padding-bottom: 55px;
    padding-left: $padding-tablet;
    padding-right: $padding-tablet;
  }

  @media (min-width: $screen-desktop) {
    width: $screen-desktop;
    margin: 0  auto;
    padding-top: 52px;
    padding-left: $padding-desktop;
    padding-right: $padding-desktop;
    padding-bottom: 60px;
  }
}

.footer__logo {
  padding-top: 37px;
  padding-bottom: 28px;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  border-bottom: 1px solid $grey-3;

  @media (min-width: $screen-tablet) {
    padding: 0;
    border: 0;
  }
}

.footer__text {
  @include font(16, 1);
  font-family: "Arial", sans-serif;

  @media (min-width: $screen-tablet) {
    margin-right: 5px;
  }
}

.footer__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 22px;
  padding-left: 0;
  padding-right: 0;

  @media (min-width: $screen-tablet) {
    align-items: center;
    padding: 0;
  }
}

.footer__icon {
  width: 27px;
  height: 35px;
  fill: #666666;

  @media (min-width: $screen-tablet) {
    margin-left: 20px;
  }
}
