.footer {
  background-color: $grey-1;
}

.footer__logo {
  padding-top: 40px;
  padding-bottom: 30px;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  border-bottom: 1px solid $grey-3;
}

.footer__text {
  @include font(16, 1);
  font-family: "Arial", sans-serif;
}

.footer__link {
  display: flex;
  justify-content: space-between;
  padding-top: 27px;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

.footer__icon {
  width: 27px;
  height: 35px;
}

@media (min-width: $screen-tablet) {
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
