.footer__logo {
  padding: 40px 0 30px;
  text-align: center;
}

.footer__text {
  @include font(16, 1);
  font-family: "Arial", sans-serif;
}

.footer__link {
  display: flex;
  justify-content: space-between;
}

@media (min-width: $screen-tablet) {
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
