.form__form {
  @include font(16, 1.13);

  @media (min-width: $screen-tablet) {
    margin-bottom: 75px;
  }

  @media (min-width: $screen-desktop) {
    max-width: $screen-desktop;
    margin: 0 auto;
    margin-bottom: 83px;
  }
}

.form__text {
  margin: 0;
  margin-bottom: 40px;
  padding-left: $padding-mobile;
  padding-right: 40px;

  @include font(14, 18px);
  text-transform: uppercase;
  color: $dark-3;

  @media (min-width: $screen-tablet) {
    width: 414px;
    margin-bottom: 65px;
    padding-left: 70px;
    padding-right: 0;

    @include font(20, 1.5);
  }

  @media (min-width: $screen-desktop) {
    padding-left: $padding-desktop;
  }
}

.form__label {
  position: relative;
  display: flex;
  align-items: baseline;
  margin-bottom: 14px;
  text-transform: uppercase;
  color: $dark-2;

  @media (min-width: $screen-tablet) {
    margin-bottom: 20px;
  }

  @media (min-width: $screen-desktop) {
    margin-bottom: 21px;
  }
}

.form__input {
  flex-grow: 1;
  width: 170px;
  height: 45px;
  padding: 13px 15px;
  font: inherit;
  text-transform: uppercase;
  outline: none;
  border: solid 1px rgba($grey-4, 0.5);

  @media (min-width: $screen-tablet) {
    height: 52px;
    margin-left: 20px;
    padding: 15px 17px;
  }

  &--name {
    margin-left: 14px;

    @media (min-width: $screen-tablet) {
      margin-left: 16px;
    }
  }

  &--weight {
    margin-left: 16px;

    @media (min-width: $screen-tablet) {
      margin-left: 20px;
    }
  }

  &--age {
    margin-left: 16px;

    @media (min-width: $screen-tablet) {
      margin-left: 18px;
    }
  }

  &--mail {
    margin-left: 10px;

    @media (min-width: $screen-tablet) {
      margin-left: 18px;
    }

    @media (min-width: $screen-desktop) {
      margin-left: 22px;
    }
  }

  &--phone {
    margin-left: 10px;

    @media (min-width: $screen-tablet) {
      margin-left: 16px;
    }
  }

  &:hover {
    border: solid 1px rgba($grey-4, 1);
  }

  &:focus {
    box-shadow: inset 0 0 0 2px $dark-1;
  }

  &:invalid {
    box-shadow: inset 0 0 0 2px #ff8282;
  }
}

.form__input:focus + .form__icon {
  fill: $green-2;
}

.form__input:focus:invalid + .form__icon {
  fill: $red-1;
}


.form__icon {
  position: absolute;
  top: 17px;
  right: 15px;
  fill: $dark-2;

  @media (min-width: $screen-desktop) {
    top: 19px;
    right: 20px;
  }
}

.form__radio {
  display: flex;
  align-items: center;

  &::before {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    margin-right: 15px;
    padding: 8px;
    background-clip: content-box;
    border: 1px solid $grey-4;
    border-radius: 50%;

    @media (min-width: $screen-tablet) {
      width: 40px;
      height: 40px;
      margin-right: 20px;
    }
  }
}

.form__textarea {
  width: 100%;
  height: 150px;
  margin-top: 7px;
  padding: 13px 14px;
  font: inherit;
  text-transform: uppercase;
  outline: none;
  border: solid 1px rgba($grey-4, 0.5);

  &:hover {
    border: solid 1px rgba($grey-4, 1);
  }

  &:focus {
    box-shadow: inset 0 0 0 2px $dark-1;
  }

  @media (min-width: $screen-tablet) {
    height: 174px;
    margin: 0 40px;
    padding: 10px 20px;

    @include font (20, 1.5);
  }

  @media (min-width: $screen-desktop) {
    margin: 0;
  }
}

.form__list {
  margin: 0;
  margin-bottom: 24px;
  list-style: none;

  @media (min-width: $screen-tablet) {
    @include font (20, 1);
  }

  &--cat-data {
    padding: 0;
    padding-left: $padding-mobile;
    padding-right: $padding-mobile;

    @media (min-width: $screen-tablet) {
      margin-bottom: 72px;
      padding-left: 70px;
      padding-right: 70px;
    }

    @media (min-width: $screen-desktop) {
      display: inline-block;
      vertical-align: middle;
      width: 47%;
      margin: 0;
      padding: 0;
      margin-right: 75px;
      padding-left: $padding-desktop;
    }
  }

  &--program {
    margin-bottom: 13px;
    padding-top: 18px;
    padding-bottom: 20px;
    border: solid 1px rgba($grey-4, 0.5);

    @media (min-width: $screen-tablet) {
      margin: 0;
      margin-left: 70px;
      margin-right: 70px;
      margin-bottom: 22px;
      padding: 24px 28px;
    }

    @media (min-width: $screen-desktop) {
      display: inline-block;
      vertical-align: middle;
      width: 44%;
      margin: 0;
      padding: 25px;
    }
  }

  &--program .form__label {
    margin-bottom: 13px;
  }

  &--checkbox {
    padding: 0;
    margin-top: 7px;
    margin-bottom: 35px;

    @media (min-width: $screen-tablet) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 25px;
    }

    @media (min-width: $screen-desktop) {
      margin-bottom: 32px;
    }
  }

  &--checkbox .form__label {
    margin-bottom: 12px;

    &:active {
      opacity: 0.3;
    }

    @media (min-width: $screen-tablet) {
      margin-bottom: 30px;
    }
  }

  &--checkbox .form__item {
    @media (min-width: $screen-tablet) {
      width: calc(50% - 30px);
    }

    @media (min-width: $screen-desktop) {
      width: calc(25% - 60px);
    }
  }
}

.form__item {
  @media (min-width: $screen-tablet) {
    padding: 0;
  }

  @media (min-width: $screen-desktop) {
    padding: 0;
  }
}

.form__checkbox {
  position: relative;
  display: flex;
  align-items: center;

  &::before {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    margin-right: 15px;
    border: 1px solid $grey-4;

    @media (min-width: $screen-tablet) {
      width: 40px;
      height: 40px;
      margin-right: 18px;
    }
  }
}

input {
  &:focus + .form__radio::before,
  &:hover + .form__radio::before,
  &:focus + .form__checkbox::before,
  &:hover + .form__checkbox::before {
    border: 1px solid #bababa;
  }

  &:checked + .form__radio::before {
    background-color: $green-2;
  }

  &:checked + .form__checkbox::after {
    content: "";
    position: absolute;
    top: 7px;
    left: 5px;
    width: 20px;
    height: 11px;
    border: 2px solid $green-1;
    border-top: none;
    border-right: none;
    transform: rotate(-50deg);

    @media (min-width: $screen-tablet) {
      top: 9px;
      left: 11px;
    }
  }

  &:disabled + .form__radio,
  &:disabled + .form__checkbox {
    opacity: 0.3;
  }
}

.form__title {
  margin: 0;
  padding-top: 17px;
  padding-bottom: 24px;
  padding-right: 22px;
  padding-left: 20px;
  text-align: left;

  @media (min-width: $screen-tablet) {
    &:not(:first-child) {
      margin-left: 40px;
    }

    &:nth-of-type(2) {
      margin-bottom: 50px;
      padding-top: 46px;

      @media (min-width: $screen-desktop) {
        margin-bottom: 53px;
      }
    }

    &:nth-of-type(3) {
      margin-bottom: 25px;
      padding-top: 48px;
    }

    padding-top: 55px;
    padding-left: 30px;
    padding-right: 40px;
    margin-bottom: 30px;

    br {
      display: none;
    }
  }

  @media (min-width: $screen-desktop) {
    max-width: $screen-desktop;
    margin: 0  auto;
    margin-bottom: 30px;
    padding-top: 68px;
    padding-left: $padding-desktop;

    &:not(:first-child) {
      margin-left: 0;
    }
  }
}

.form__wrapper {
  @media (min-width: $screen-tablet) {
    @include font(20, 1);
  }

  &--owner-data {
    margin-top: 7px;
    padding-left: $padding-mobile;
    padding-right: $padding-mobile;

    @media (min-width: $screen-tablet) {
      margin-top: 20px;
      margin-bottom: 0;
      padding-left: 70px;
      padding-right: 70px;
    }

    @media (min-width: $screen-desktop) {
      display: flex;
      padding-left: $padding-desktop;
      padding-right: $padding-desktop;
      justify-content: space-between;
    }
  }

  &--owner-data .form__label {
    @media (min-width: $screen-desktop) {
      width: calc(50% - 40px);
    }
  }
}

.form__item:last-of-type .form__label {
  margin-bottom: 0;
}

.form__button {
  @media (min-width: $screen-tablet) {
    width: auto;
    margin-right: 58px;
    padding-left: 65px;
    padding-right: 65px;
    padding-top: 15px;
    padding-bottom: 15px;

    @include font(20, 1);
  }

  @media (min-width: $screen-desktop) {
    margin-right: 80px;
    padding-left: 213px;
    padding-right: 203px;
  }
}

.form__required {
  display: block;
  padding-top: 20px;
  padding-bottom: 33px;
  font-family: "Arial", sans-serif;
  text-align: center;
  color: $dark-1;

  @media (min-width: $screen-tablet) {
    display: inline-block;
    width: auto;
    padding: 0;
    line-height: 16px;
  }
}

.form__check-list {
  padding-left: $padding-mobile;
  padding-right: $padding-mobile;

  @media (min-width: $screen-tablet) {
    margin: 0 40px;
    padding-left: $padding-tablet;
    padding-right: $padding-tablet;
  }

  @media (min-width: $screen-desktop) {
    margin: 0;
    padding-left: $padding-desktop;
    padding-right: $padding-desktop;
  }
}
