.illustration {
  margin: 0 -20px;
  background-color: $grey-1;
}


.illustration__title {
  line-height: 1.67;
  margin-bottom: 30px;
}

.illustration__description {
  font-family: "Arial", sans-serif;
}

.illustration__expenses {
  line-height: 1.43;
  text-transform: uppercase;
  color: $dark-3;
}

.illustration__wrapper,
.illustration__slider {
  padding: 0 $indents-mobile;
}

@media (min-width: $screen-tablet) {
  .illustration {
    margin-left: -$indents-tablet;
    margin-right: -$indents-tablet;
    background-color: #ffffff;
  }

  .illustration__wrapper {
    padding: 0 $indents-tablet;
    height: 420px;
  }

  .illustration__slider {
    padding: 0 $indents-tablet;
    height: 630px;
    background-image: linear-gradient(#ffffff 33%, $grey-1 33%);
  }
}

@media (min-width: $screen-desktop) {
  .illustration {
    display: flex;
    margin-left: -$indents-desktop;
    margin-right: -$indents-desktop;
  }

  .illustration__wrapper {
    min-width: 610px;
    height: 652px;
    padding-left: $indents-desktop;
    background-image: linear-gradient(#ffffff 33%, $grey-1 33%);
  }

  .illustration__slider {
    min-width: 610px;
    height: 652px;
    padding-right: $indents-desktop;
    background-color: #ffffff;
    background-image: linear-gradient(#ffffff 33%, $grey-1 33%);
  }
}
