.illustration {
  padding-bottom: 20px;
  background-color: $grey-1;
}


.illustration__title {
  line-height: 1.67;
  margin-bottom: 23px;
}

.illustration__description {
  margin: 0;
  margin-bottom: 25px;
  font-family: "Arial", sans-serif;
}

.illustration__count {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.illustration__expenses {
  display: block;
  line-height: 1.43;
  text-transform: uppercase;
  margin: 0 auto;
  color: $dark-3;
}

.illustration__wrapper {
  padding-top: 20px;
  padding-bottom: 35px;
}

@media (min-width: $screen-tablet) {
  .illustration {
    background-color: #ffffff;
  }

  .illustration__wrapper {
    height: 420px;
  }

  .illustration__description {
    @include font (16, 1.5);
  }

  .illustration__expenses {
    @include font (20, 1);
  }

  .illustration__slider {
    height: 630px;
    background-image: linear-gradient(#ffffff 33%, $grey-1 33%);
  }
}

@media (min-width: $screen-desktop) {
  .illustration {
    display: flex;
  }

  .illustration__wrapper {
    // min-width: 610px;
    height: 652px;
    // padding-left: $padding-desktop;
    background-image: linear-gradient(#ffffff 33%, $grey-1 33%);
  }

  .illustration__slider {
    min-width: 610px;
    height: 652px;
    // padding-right: $padding-desktop;
    background-color: #ffffff;
    background-image: linear-gradient(#ffffff 33%, $grey-1 33%);
  }
}
