.illustration {
  padding-bottom: 57px;
  background-color: $grey-1;

  @media (min-width: $screen-tablet) {
    padding-bottom: 0;
    background-color: #ffffff;

    &::before {
      content: "";
      display: block;
      width: 100%;
      border-bottom: 1px solid $grey-2;

      @media (min-width: $screen-desktop) {
        content: none;
      }
    }
  }

  @media (min-width: $screen-desktop) {
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to right, #f2f2f2 0%, #f2f2f2 50%, #ebebeb 50%, #ebebeb 100%);
    background-position: center bottom;
    background-size: 100% calc(100% - 188px);
    background-repeat: no-repeat;
  }
}

.illustration__title {
  margin-bottom: 23px;
  line-height: 1.67;

  @media (min-width: $screen-tablet) {
    margin-bottom: 40px;
  }

  @media (min-width: $screen-desktop) {
    padding-top: 39px;
    margin-bottom: 123px;
  }
}

.illustration__description {
  margin: 0;
  margin-bottom: 25px;
  font-family: "Arial", sans-serif;

  @media (min-width: $screen-tablet) {
    @include font (16, 1.5);
    margin-bottom: 54px;
  }

  @media (min-width: $screen-desktop) {
    width: 435px;
    margin-bottom: 68px;
  }
}

.illustration__count {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  @media (min-width: $screen-tablet) {
    justify-content: stretch;
  }

  @media (min-width: $screen-desktop) {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}

.illustration__expenses {
  display: block;
  margin: 0 auto;
  line-height: 1.43;
  text-transform: uppercase;
  color: $dark-3;

  @media (min-width: $screen-tablet) {
    @include font (20, 1.5);
    width: 195px;
    margin: 0;
    margin-left: auto;
    margin-right: 10px;
    text-align: right;
  }

  @media (min-width: $screen-desktop) {
    width: 100%;
    margin-top: 60px;
    margin-bottom: 60px;
    text-align: left;

    span {
      margin-left: 60px;
    }
  }
}

.illustration__wrapper {
  padding-top: 20px;
  padding-bottom: 33px;
  padding-right: 21px;

  @media (min-width: $screen-tablet) {
    min-height: 420px;
    margin-bottom: 20px;
    padding-top: 27px;
  }

  @media (min-width: $screen-desktop) {
    width: 610px;
    min-height: 652px;
    margin: 0;
    padding: 0;
  }
}

.illustration__slider {
  @media (min-width: $screen-tablet) {
    padding-bottom: 75px;
    background-image: linear-gradient(to right, $grey-1 0%, #f2f2f2 50%, #eaeaea 50%, #eaeaea 100%);
    background-position: 0 180px;
    background-repeat: no-repeat;
  }

  @media (min-width: $screen-desktop) {
    width: 610px;
    padding: 0;
    min-height: 652px;
    background-position: 0 188px;
  }
}
