.navigation {
  position: relative;

  @media (min-width: $screen-tablet) {
    display: flex;
    justify-content: space-between;
    padding: 0 $padding-tablet;
    padding-top: 22px;
  }

  @media (min-width: $screen-desktop) {
    max-width: 1300px;
    margin: 0 auto;
    padding-top: 4px;
    padding-left: $padding-desktop;
    padding-right: $padding-desktop;

    &--wrapper {
      padding-top: 55px;
    }
  }
}

.navigation__toggle {
  display: none;

  @media (max-width: 767px) { // for mobile ONLY!
    position: absolute;
    top: 23px;
    right: 20px;
    display: block;
    width: 25px;
    height: 20px;
    border: none;
    background-color: #ffffff;
    cursor: pointer;
  }
}

.navigation__logo {
  display: block;
  padding-top: 13px;
  padding-bottom: 11px;
  padding-left: $padding-mobile;
  padding-right: $padding-mobile;
  border-bottom: 1px solid $grey-2;

  @media (min-width: $screen-tablet) {
    padding: 0;
    border: 0;
  }
}

.navigation__icon {
  width: 191px;
  height: 38px;

  @media (min-width: $screen-tablet) {
    width: 173px;
    height: 58px;
  }

  @media (min-width: $screen-desktop) {
    width: 202px;
    height: 60px;
  }
}

.navigation__inner {
  @media (max-width: 767px) { // for mobile ONLY!
    &--closed .navigation__item {
      display: none;
    }

    &--opened .navigation__toggle {
      @include b-image("icon-close.svg");
    }

    &--closed .navigation__toggle {
      @include b-image("icon-mobile-menu.svg");
    }
  }
}

.navigation__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $screen-tablet) {
    display: flex;
  }

  @media (min-width: $screen-desktop) {
    &--white {
      .navigation__link {
        color: #ffffff;

        &:not([href]) {
          border-bottom: 2px solid #ffffff;
        }
      }
    }
  }
}

.navigation__item {
  padding: 24px 20px 20px;
  text-align: center;
  color: $dark-3;
  border-bottom: 1px solid $grey-2;

  @media (min-width: $screen-tablet) {
    padding: 0;
    padding-top: 20px;
    border: 0;

    &:not(:last-of-type) {
      margin-right: 35px;
    }
  }
}

.navigation__link {
  @include font(20, 1, 500);
  text-transform: uppercase;
  letter-spacing: -0.5px;

  @media (min-width: $screen-tablet) {
    display: block;
    padding-top: 0;
    padding-bottom: 7px;
    padding-left: 0;
    padding-right: 0;

    @include font(18, 1.39);
    color: $dark-2;

    &:not([href]) {
      border-bottom: 2px solid $green-2;
    }
  }

  @media (min-width: $screen-desktop) {
    @include font(20, 1.25);
  }
}
