
.navigation__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation__item {
  padding: 22px 20px;
  text-align: center;
  color: $dark-3;
  border-bottom: 1px solid $grey-2;
}

.navigation__link {
  @include font(20, 1, 500);
  text-transform: uppercase;
}

@media (min-width: $screen-tablet) {
  .navigation {
    display: flex;
    justify-content: space-between;
    min-width: 768px;
  }

  .navigation__list {
    display: flex;
  }

  .navigation__link {
    @include font(18, 1.39);
    color: $dark-2;
  }
}

@media (min-width: $screen-desktop) {
  .navigation__list {
    &--white {
      .navigation__link {
        color: #ffffff;
      }
    }
  }

  .navigation__link {
    @include font(20, 1.25);
  }
}
