.programs {
  @media (min-width: $screen-desktop) {
    margin-bottom: 30px;
  }

  @media (min-width: $screen-desktop) {
    margin-bottom: 23px;
  }
}

.programs__button {
  margin-bottom: 20px;
}

.programs__list {
  padding: 0;
  margin: 0;
  list-style: none;

  @media (min-width: $screen-desktop) {
    display: flex;
    justify-content: space-between;
  }
}

.programs__item {
  // position: relative;
  padding: 31px 20px 20px;
  background-color: $grey-1;
  margin-bottom: 20px;

  @media (min-width: $screen-tablet) {
    padding-top: 77px;
    padding-right: 60px;
    padding-bottom: 57px;
    padding-left: 52px;
    margin-bottom: 30px;
  }

  @media (min-width: $screen-desktop) {
    width: 570px;
    min-height: 370px;
    padding-top: 45px;
    padding-right: 55px;
    padding-bottom: 60px;
    padding-left: 52px;
  }
}

.programs__title {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  padding-left: 71px;


  @include font(24, 1.54);
  color: $dark-3;
  text-transform: uppercase;
  margin-bottom: 29px;

  @media (min-width: $screen-tablet) {
    // position: static;
    width: 380px;
    margin-bottom: 24px;
    padding-left: 0;

    @include font (36, 1);
  }

  @media (min-width: $screen-desktop) {
    margin-bottom: 72px;
    padding-left: 160px;
    padding-top: 32px;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    width: 50px;
    height: 50px;
    margin-right: 20px;
    background-color: $green-2;
    border-radius: 50%;

    @media (min-width: $screen-tablet) {
      content: "";
      position: absolute;
      width: 200px;
      height: 200px;
      left: 394px;
      top: 15px;
    }

    @media (min-width: $screen-desktop) {
      // position: static;
      position: absolute;
      top: 0;
      left: 0;
      width: 100px;
      height: 100px;
      margin-right: 64px;
    }
  }

  &--slim::after {
    position: absolute;
    content: "";
    left: 10px;
    width: 35px;
    height: 49px;

    @include b-image("icon-cat-slim.svg", transparent);

    @media (min-width: $screen-tablet) {
      @include pos (140px, 194px, 0, 424px);
    }

    @media (min-width: $screen-desktop) {
      @include pos (79px, 97px, -5px, 15px);
    }
  }

  &--pro::after {
    position: absolute;
    content: "";
    left: -7px;
    width: 67px;
    height: 28px;
    @include b-image("icon-cat-pro.svg", transparent);

    @media (min-width: $screen-tablet) {
      @include pos (268px, 112px, 55px, 360px);
    }

    @media (min-width: $screen-desktop) {
      @include pos (134px, 56px, 22px, -15px);
    }
  }
}

.programs__description {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  padding-bottom: 20px;
  font-family: "Arial", sans-serif;
  border-bottom: 1px solid $grey-3;

  @media (max-width: 767px) { // for mobile ONLY
    br {
      display: none;
    }
  }

  @media (min-width: $screen-desktop) {
    br {
      display: none;
    }
  }

  @media (min-width: $screen-tablet) {
    width: 380px;
    margin-bottom: 57px;
    padding-bottom: 0;

    @include font (16, 1.5);
    border: 0;
  }

  @media (min-width: $screen-desktop) {
    width: auto;
    margin-bottom: 32px;
  }
}

.programs__link {

  svg {
    width: 40px;
  }

  @include font(16, 1);
  text-transform: uppercase;

  &::after {
    content: "";
    display: inline-block;
    position: relative;
    width: 23px;
    height: 11px;
    vertical-align: middle;
    margin-left: 13px;

    @include b-image("icon-right-arrow-long.svg", transparent);

    @media (min-width: $screen-tablet) {
      margin-left: 26px;
    }
  }

  &:hover::after {
    width: 33px;
    @include b-image("icon-right-arrow-verylong.svg", transparent);
  }

  &:active,
  &:active::after {
    opacity: 0.3;
  }

  @media (min-width: $screen-tablet) {

    @include font (20, 1);
  }
}
