.slider {
  position: relative;

  @media (min-width: $screen-tablet) {
    min-height: 631px;
  }
}

.slider__control {
  position: absolute;
  top: 272px;
  left: 57px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  padding: 0;

  @media (min-width: $screen-tablet) {
    top: 540px;
    left: 100px;
    width: 570px;
  }

  @media (min-width: $screen-desktop) {
    justify-content: flex-end;
    top: 560px;
    left: 83px;
  }
}

.slider__text {
  @include font(16, 1.25);
  color: $dark-3;
  text-transform: uppercase;

  @media (min-width: $screen-tablet) {
    padding-bottom: 5px;

    @include font(20, 1);
    border-bottom: 1px dotted rgba(17, 17, 17, 0.23);

    &:hover {
      cursor: pointer;
      border-bottom: 1px solid rgba(17, 17, 17, 0.4);
    }

    &:active {
      border-color: transparent;
    }
  }

  &:first-of-type {
    margin-right: 19px;

    @media (min-width: $screen-tablet) {
      margin-right: 0;
    }
  }
}

.slider__toggler {
  position: relative;
  width: 85px;
  height: 13px;
  margin-right: 19px;
  background-color: #ffffff;
  border: 1px solid #cdcdcd;
  border-radius: 15px;

  @media (min-width: $screen-tablet) {
    width: 428px;
    height: 6px;
    margin: 0 22px;
    background-color: #cdcdcd;
    border: 0;
  }
}

.slider__button {
  position: absolute;
  top: 3px;
  left: 8px;
  width: 36px;
  height: 6px;
  background-color: $green-2;
  border-radius: 15px;

  @media (min-width: $screen-tablet) {
    position: absolute;
    top: -8px;
    width: 34px;
    height: 34px;
    background-color: #ffffff;
    border: 2px solid #cdcdcd;
    border-radius: 50%;
    background-image: radial-gradient(circle closest-side, $green-1 3px, white 4px);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);

    &--before {
      top: -15px;
      left: 50%;
      transform: translateX(-17px);

      &:hover {
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
      }

      &:active {
        border-color: $green-1;
        box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
      }
    }
  }
}

.slider__image-wrap {
  margin-bottom: 29px;

  @media (min-width: $screen-tablet) {
    position: absolute;
    overflow: hidden;
  }

  @media (min-width: $screen-desktop) {
    margin-bottom: 40px;
  }

  &--before {
    @media (min-width: $screen-tablet) {
      left: 50%;
      z-index: 1;
      transform: translateX(-345px);
      width: 345px;
    }
  }

  &--after {
    display: none;

    @media (min-width: $screen-tablet) {
      display: block;
      right: 50%;
      transform: translateX(325px);
      width: 325px;
    }
  }
}

.slider__image {
  @media (min-width: $screen-tablet) {
    display: block;
    width: 690px;
    max-width: 690px;
    height: 517px;
  }

  &--after {
    @media (min-width: $screen-tablet) {
      transform: translateX(-50%);
    }
  }
}
