.slider__control {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  margin: 0 auto;
  padding: 0;

  @media (min-width: $screen-tablet) {
    position: relative;
    width: auto;
  }

  @media (min-width: $screen-desktop) {
    justify-content: flex-end;
  }
}

.slider__text {
  @include font(16, 1.25);
  color: $dark-3;
  text-transform: uppercase;

  @media (min-width: $screen-tablet) {
    @include font(20, 1);
  }

  &:first-of-type {
    margin-right: 19px;

    @media (min-width: $screen-tablet) {
      margin-right: 0;
    }
  }
}

.slider__toggler {
  width: 85px;
  height: 13px;
  margin-right: 19px;
  background-color: #ffffff;
  border: 1px solid #cdcdcd;
  border-radius: 15px;

  @media (min-width: $screen-tablet) {
    width: 428px;
    height: 6px;
    margin: 0 22px;
    background-color: #cdcdcd;
    border: 0;
  }
}

.slider__button {
  position: absolute;
  top: 7px;
  left: 33%;
  width: 36px;
  height: 6px;
  background-color: $green-2;
  border-radius: 15px;

  @media (min-width: $screen-tablet) {
    position: absolute;
    top: -8px;
    width: 34px;
    height: 34px;
    background-color: #ffffff;
    border: 2px solid #cdcdcd;
    border-radius: 50%;
    background-image: radial-gradient(circle closest-side, $green-1 3px, white 4px);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);

    &--before {
      left: 48%;

      &:hover {
        border-color: $green-1;
        box-shadow: 0px 4px 5px 0 rgba(0, 0, 0, 0.3);
      }
    }

  }

  @media (min-width: $screen-desktop) {
    left: 50%;
  }
}

.slider__image-wrap {
  margin-bottom: 29px;

  @media (min-width: $screen-desktop) {
    margin-bottom: 40px;
  }

  &--before {
    @media (min-width: $screen-tablet) {
      // position: absolute;
      // overflow: hidden;
      z-index: 1;
      // width: 345px;
    }
  }

  &--after {
    display: none;

    @media (min-width: $screen-tablet) {
      position: relative;
      // display: block;
      // width: 345px;
    }
  }
}

.slider__image {
  @media (min-width: $screen-tablet) {
    display: block;
    width: 690px;
    max-width: 690px;
    height: 517px;
    margin: 0 auto;
  }

  @media (min-width: $screen-desktop) {
    max-width: 600px;
  }
}
