.social__list {
  display: flex;
  justify-content: center;
  margin: 0;
  padding-top: 22px;
  padding-bottom: 18px;
  padding-left: 0;
  padding-right: 0;
  list-style: none;
  border-bottom: 1px solid $grey-3;

  @media (min-width: $screen-tablet) {
    margin-left: 30px;
    padding: 0;
    border-bottom: 0;
  }
}

.social__item {
  margin: 0 20px;

  @media (min-width: $screen-tablet) {
    margin: 0 17px;
  }
}

.social__link {
  &--vk {
    fill: #666666;
    width: 22px;
    height: 12px;
  }

  &--inst {
    fill: #666666;
    width: 17px;
    height: 16px;
  }

  &--fb {
    fill: #666666;
    width: 10px;
    height: 19px;
  }

  @media (min-width: $screen-tablet) {
    transform: scale(1.47);
  }
}
