.title {
  margin: 0;
  color: $dark-3;

  @include font(36, 1.67);

  @media (min-width: $screen-tablet) {
    font-size: 60px;
    line-height: 1;
    text-align: left;
  }

  &--stripe {
    display: inline-block;
    background-color: #ffffff;

    @include font(24, 1);
    text-align: left;

    @media (min-width: $screen-tablet) {
      @include font(36, 1);
    }
  }

  &--stripe::after {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    left: 40%;
    right: 0;
    transform: translateY(-14px);
    margin-left: 20px;
    height: 3px;
    background-color: $green-2;

    @media (min-width: $screen-tablet) {
      left: 0;
    }
  }
}
