body {
  width: 320px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", "Arial", sans-serif;

  @include font(14, 1.29);
  color: $dark-1;
  background-color: #ffffff;

  @media (min-width: $screen-tablet) {
    width: $screen-tablet;

    @include font(16, 1.5);
  }

  @media (min-width: $screen-desktop) {
    width: auto;
    max-width: none;
  }
}


*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

a {
  color: $dark-3;
  text-decoration: none;
}
