@mixin font($size, $height: 1.2, $weight: 400) {
  font-size: $size + px;
  line-height: $height;
  font-weight: $weight;
}

//Картинка фоном ("name.jpg", #ffffff, 0 0, no-repeat)
@mixin b-image ($image-url: "name.jpg", $image-color: #ffffff, $image-position: 0 0, $image-repeat: no-repeat) {
  background-color: $image-color;
  background-image: url("/img/"+ $image-url);
  background-position: $image-position;
  background-repeat: $image-repeat;
}

// Позиционирование (width, height, top, left, position)
@mixin pos ($width, $height, $top: 0, $left: 0, $position: absolute) {
  content: "";
  position: $position;
  top: $top;
  left: $left;
  width: $width;
  height: $height;
}

// Флекс-центровщик
@mixin center() {
  display: flex;
  justify-content: center;
  align-items: center;
}
